body {
    position: relative;
    margin: 0;
    overflow: hidden;
    background-image: linear-gradient(135deg, #280023 0%, #111c23 100%);
    font-family:Helvetica;
    font-size: 18px;
    height: 100vh;
    width: 100vw;
    color: #fff;
}

svg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    shape-rendering: optimizeSpeed;
}

.absCenter {
    position: absolute;
    margin: auto;
    left: 0; right: 0;
    top: 0; bottom: 0;
    text-align: center;
}

svg text.absCenter {
    transform: translate(50vw, 50vh);
    text-anchor: middle;
    fill: white;
    font-size: 50px;
    font-family: monospace;
}

.splitLeft {
    width: 50vw;
    border-right: 1px dotted rgba(255, 255, 255, 0.3);
}

.splitRight {
    width: 50vw;
    right: 0;
    left: auto;
}

#svgStartNode text,
#svgDeadNode text {
    text-anchor: middle;
    fill: white;
    font-family: monospace;
    font-size: 30px;
}

#svgStartNode #title {
    font-size: 70px;
    font-weight: bold;
}

.bullet {
    fill: url(#gradient1);
}

.bubbleParticle {
    fill: #fff;
}

.pointer {
    fill: RGBA(255, 255, 255, 0.7);
}

.playerBoat0{fill:#CBCBCB;}
.playerBoat1{fill:#F2F2F2;}
.playerBoat4{fill:#8EA8AD;}
.playerBoat5{fill:#BDD6DB;}
.playerBoat6{fill:#4A3C55;}
.playerBoat7{fill:#C44D4D;}
.playerBoat8{fill:#D3E1E7;}
.playerBoat9{fill:#BF9900;}
.playerBoat10{fill:#ECBD02;}
.playerBoat11{fill:#FFCC00;}

.player1 .playerBoat2{fill:#1884B4;}
.player1 .playerBoat3{fill:#36BBF5;}

.player2 .playerBoat2{fill:#802B2B;}
.player2 .playerBoat3{fill:#AC3939;}

.sunMain{stroke:#F78118;stroke-width:8;}
.sunRing{fill:none;stroke:#F78118;enable-background:new;}
.sunRing1{opacity:0.15;stroke-width:8;stroke-miterlimit:10;}
.sunRing2{opacity:0.1;stroke-width:6;stroke-miterlimit:10;stroke-dasharray:52.7219,52.7219;}
.sunRing3{opacity:0.05;stroke-width:3;stroke-miterlimit:10;stroke-dasharray:30.4037,30.4037;}

.planetBlue1{fill:#1A6189;}
.planetBlue2{fill:#2574A9;}
.planetBlue3{fill:#63BCB8;}
.planetBlue4{opacity:0.3;fill:#1A6189;}

.planetGrey1{fill:#989899;}
.planetGrey2{fill:#C2C2C2;}
.planetGrey3{fill:#ACBD86;}
.planetGrey4{opacity:0.7;fill:#989899;}
        
.planetOrange1{fill:#B7532C;}
.planetOrange2{fill:#DD6B38;}
.planetOrange3{fill:#F39C12;}
.planetOrange4{opacity:0.5;fill:#71361f;}

.hud{position:fixed;left:10px;right:10px;top:10px;bottom:auto;}
.hudText{font-size:1.4em;letter-spacing:1;}
.hudBase{fill:#66D9EF;}
.hudBar{stroke-width:3;}
#hudLayer>svg{position:absolute;top:0;left:0;right:auto;width:auto;height:auto;}
#hudLayer>svg.hudRight{left:auto;right:0;}
#hudLife .hudBar{fill:#F1C40F;stroke:#F1C40F;}
#hudLife .hudBarE{fill:none;}
#hudGlitch .hudBar{fill:#4eba6f;stroke:#4eba6f;}
#hudGlitch .hudBarE{fill:none;}

#hudLayerBottom{top:auto;bottom:10px;text-align:center;font-weight:bold;color: #fff;font-size: 22px;opacity:0.35;}
#hudLayerBottom>div{display:inline-block;margin:0 1em;}

#svgStartNode{height:500px}
#svgDeadNode{height:400px}
#svgDeadNode span{display:block;color:#ac5eef;}
.link {
    border: 3px solid #841cdc;
    display: inline-block;
    width: 300px;
    padding: 1em;
    margin: 0 10px 30px;
    cursor: pointer;
}
.link:hover {
    border-color: #ac5eef;
}

.link.active {
    background-color: rgba(138, 28, 220, 0.15);
}

.blink {
    animation: blink 1s step-start 0s infinite;
    -webkit-animation: blink 1s step-start 0s infinite;
}

@keyframes blink {
    50% {
        opacity: 0.0;
    }
}
@-webkit-keyframes blink {
    50% {
        opacity: 0.0;
    }
}
