body {
    position: relative;
    margin: 0;
    overflow: hidden;
    background-image: linear-gradient(135deg, #280023 0%, #111c23 100%);
}

svg {
    width: 100vw;
    height: 100vh;
}

.boat {
    stroke: #444;
    fill: #333;
}

.bullet {
    stroke: #555;
}

.bubbleParticle {
    fill: #fff;
}

.playerBoat0{fill:#CBCBCB;}
.playerBoat1{fill:#F2F2F2;}
.playerBoat4{fill:#8EA8AD;}
.playerBoat5{fill:#BDD6DB;}
.playerBoat6{fill:#4A3C55;}
.playerBoat7{fill:#C44D4D;}
.playerBoat8{fill:#D3E1E7;}
.playerBoat9{fill:#BF9900;}
.playerBoat10{fill:#ECBD02;}
.playerBoat11{fill:#FFCC00;}

.player1 .playerBoat2{fill:#1884B4;}
.player1 .playerBoat3{fill:#36BBF5;}

.player2 .playerBoat2{fill:#802B2B;}
.player2 .playerBoat3{fill:#AC3939;}

.sunMain{stroke:#F78118;stroke-width:8;}
.sunRing{fill:none;stroke:#F78118;enable-background:new;}
.sunRing1{opacity:0.15;stroke-width:8;stroke-miterlimit:10;}
.sunRing2{opacity:0.1;stroke-width:6;stroke-miterlimit:10;stroke-dasharray:52.7219,52.7219;}
.sunRing3{opacity:0.05;stroke-width:3;stroke-miterlimit:10;stroke-dasharray:30.4037,30.4037;}

.planetBlue1{fill:#1A6189;}
.planetBlue2{fill:#2574A9;}
.planetBlue3{fill:#63BCB8;}
.planetBlue4{opacity:0.3;fill:#1A6189;}

.planetGrey1{fill:#989899;}
.planetGrey2{fill:#C2C2C2;}
.planetGrey3{fill:#ACBD86;}
.planetGrey4{opacity:0.7;fill:#989899;}
        
.planetOrange1{fill:#B7532C;}
.planetOrange2{fill:#DD6B38;}
.planetOrange3{fill:#F39C12;}
.planetOrange4{opacity:0.5;fill:#71361f;}

#hudLayer{position:fixed;left:10px;right:10px;top:10px;bottom:auto;}
.hudText{font-family:Helvetica;font-size:1.6em;letter-spacing:1;}
.hudBase{fill:#66D9EF;}
.hudHealth .hudBar{fill:#F1C40F;stroke:#F1C40F;}
.hudHealth .hudBarE{fill:none;}
.hudGlitch .hudBar{fill:#4eba6f;stroke:#4eba6f;}
.hudGlitch .hudBarE{fill:none;}
.hudBar{stroke-width:3;}
