body {
    margin: 0;
    overflow: hidden;
    background: #306bdc;
}

svg {
    width: 100vw;
    height: 100vh;
}

.boat {
    stroke: #444;
    fill: #333;
}

.bullet {
    stroke: #555;
}

.bubbleParticle {
    fill: #fff;
}

.land {
    fill: #38941a;
}
